body {
    background-color: #f6f6f6;
    font-family: 'Poppins', sans-serif;
}

#inner {
    width: 960px;
    margin: 0 auto;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.menu-titulo {
    width: 50vh;
    text-align: center;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vh;
    padding: 0;

}

.menu-list li {
    padding: 0 1rem;
}

.menu-list a,
.menu-list a:visited {
    color: black;
    text-decoration: none;
}

.menu-list a:hover {
    color: #00aa55;
    border-bottom: solid;
}

.menu-list a:active {
    color: blue;
    border-bottom: solid;
}

hr {
    display: block;
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(58, 87, 67, 0.75), rgba(0, 0, 0, 0));
}



/*  main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

main p {
    text-align: justify;
}

.social-links a {
    margin: 0 1rem;
}

.formulario-termo {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 50vh;
    text-align: center;
}

.formulario-termo label {
    margin: 1rem 0;
}

#data-inicial-termo,
#data-final-termo {
    width: 60%;
    margin: 0 auto;
}

#calcular {
    width: 30%;
    margin: 1rem auto;
    text-align: center;
}

/* Links Uteis - Main */

.grid-container {
    display: grid;
    grid-template-areas:
        links-uteis;
    grid-template-columns: 33vh 33vh 33vh;
    grid-template-rows: 20vh 20vh 20vh;
}

.grid-container ul {
    text-decoration: none;
    list-style: none;
}

/*  Disposição Grid */

.destaque-links {
    grid-area: links-uteis;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: blue;
}

.link-button-destaque {
    width: 100%;
    height: 100%;
}