body {
    background-color: #f6f6f6;
    font-family: 'Poppins', sans-serif;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.menu__list li {
    padding: 0 1rem;
}

/*  main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-termo {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.formulario-termo label {
    margin: 1rem 0;
}

#data-termo {
    width: 60%;
    margin: 0 auto;
}

#calcular {
    width: 30%;
    margin: 1rem auto;
    text-align: center;
}